
  <!--navbar-->
  <div class="rect">
  <div class="rectangle">
    <ul>
      <li>
        <a href="#">
          <span>Home</span>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Blog</span>
          <span>Blog</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Services</span>
          <span>Services</span>
        </a>
      </li>
      <li>
        <a routerLink = '/profile' routerLinkActive = 'active' target="_blank">
          <span>GitHub</span>
          <span>API</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Help</span>
          <span>Help</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Contacts</span>
          <span>Contacts</span>
        </a>
      </li>
    </ul>
  </div>

  <br>
 <router-outlet></router-outlet>
  <!--body-->
  <h1 class="topics">Popular Github users</h1>
  <!--containerz1-->
  <div class="containerz">
    <div class="card">
      <div class="imgBox">
        <img src="https://bit.ly/2DQ76SB" alt="Paul Miller">
      </div>
      <div class="details">
        <h2>Paul Miller</h2>
        <p>He makes projects which help developers to build awesome things. He solves problems related to
          online
          businesses at Hell Yeah. He adores travelling around the world and making great products.</p>
      </div>
    </div>

    <div class="card">
      <div class="imgBox">
        <img src="https://bit.ly/2IZdLxT" alt="Fabien Potencier">
      </div>
      <div class="details">
        <h2>Fabien Potencier</h2>
        <p>Fabien Potencier, creator of Symfony (PHP Framework). created Symfony in 2005, one of the most
          popular PHP frameworks. Currently, runs blackfire.io, sensiolabs.com, and the Symfony company.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="imgBox">
        <img src="https://bit.ly/2JhYuYw" alt="Taylor Otwell">
      </div>
      <div class="details">
        <h2>Taylor Otwell</h2>
        <p>Taylor is the creator of the Laravel PHP framework, one of the most popular open-source PHP
          projects in the world. He is also a Software Engineer at UserScape.</p>
      </div>
    </div>
  </div>

  <h1 class="topics">Tech News</h1>
  <!--containerz2-->
  <div class="containerz">
    <div class="card">
      <div class="imgBox">
        <img src="https://bit.ly/2Lk5cj8">
      </div>
      <div class="details">
        <h2>Saving the Rainforest with Old Cell Phones</h2>
        <small>WRITTEN BY LIESL ULRICH-VERDERBER</small>
        <p>How can we police large swaths of endangered rainforest with something we all have at home? The
          incredible startup Rainforest Connection is taking our old cell phones and giving them a second
          life as protectors of some of <a href="https://bit.ly/2H3fd0P">Read...</a></p>
      </div>
    </div>

    <div class="card">
      <div class="imgBox">
        <img src="https://bit.ly/2JgyDQB">
      </div>
      <div class="details">
        <h2>Helping the Blind See With Their Tongues</h2>
        <small>WRITTEN BY SAMANTHA BURNS</small>
        <p>Have you heard of the device that uses the tongue to transmit visual information to the brain?
          Today, we’ll take a look at the lives of Andy and Erik to see the <a href="https://bit.ly/2uLTu8A">Read...</a>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="imgBox">
        <img src="https://bit.ly/2DQBLPL">
      </div>
      <div class="details">
        <h2>What’s the Deal with Virtual Reality?</h2>
        <small>WRITTEN BY LIESL ULRICH-VERDERBER</small>
        <p>Talk about virtual reality feels like it’s everywhere, but why all the hype? Today we explore why
          VR may be the next big thing, and what’s going on in our brains to make these <a href="">Read...</a></p>
      </div>
    </div>
  </div>

  <!--containerz3-->
  <h1 class="topics">Hot Github Topics</h1>
  <div class="containerz">
    <div class="card">
      <div class="imgBox">
        <img src="https://bit.ly/2Vjtkan">
      </div>
      <div class="details">
        <h2>Why you need to be at GitHub Satellite in a month</h2>
        <small>~BRIAN DEMOTT</small>
        <p>GitHub Satellite is heading to Berlin to bring together the developers, maintainers, and team
          leaders who are changing the world through software. There’s still time to secure your spot
          on May 23, but tickets are selling fast—and <a href="https://bit.ly/2WonXmN">Read...</a>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="imgBox">
        <img src="https://bit.ly/2H06CKf">
      </div>
      <div class="details">
        <h2>Create your own course on GitHub Learning Lab</h2>
        <small>~HECTOR ALFARO</small>
        <p>As a member of the GitHub community, we know you love to share your knowledge. You do it
          through videos, tutorials, courses, and sample code. Now, you can add Learning Lab’s
          <a href="https://bit.ly/2GYwXs6">Read...</a>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="imgBox">
        <img src="https://bit.ly/2PLNN1r">
      </div>
      <div class="details">
        <h2>Hacker holding Git repositories for ransom</h2>
        <small>By Catalin Cimpanu for Zero Day</small>
        <p>Hacker wipes Git repos and asks for Bitcoin. Gives victims 10 days and threatens to release
          the code. <a href="https://bit.ly/2LrWEH4">Read...</a>
        </p>
      </div>
    </div>
  </div>
  </div>

